spring:
  application:
    name: project

  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: mahmoud
    password: "YOUR_PASSWORD"
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: none

    properties:
      hibernate:
        default_schema: practice_schema

    show-sql: true

