spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: mahmoud
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none

    show-sql: true

websiteUrl: http://localhost:3000